#bg {
    background: linear-gradient(135deg, rgba(9,9,171,1) 0%, rgba(9,9,122,1) 35%, rgba(0,146,255,1) 100%);
}

.circle {
    position: absolute;
    aspect-ratio: 1;
    border-radius: 100%;
}

#cir-1 {
    width: 150px;
    top: -5%;
    left: -5%;
    background-color: var(--sub-blue);
}

#cir-2 {
    top: 12%;
    right: 6%;
    width: 100px;
    background-color: var(--sub-blue);
}

#cir-3 {
    top: 10%;
    right: 5%;
    width: 100px;
    border: 5px solid white;
}

#cir-4 {
    bottom: 5%;
    left: -10%;
    width: 400px;
    background-color: var(--sub-blue);
}

#cir-5 {
    right: 0%;
    bottom: -65%;
    width: 600px;
    border: 5px solid white;
}

#cir-6 {
    left: 25%;
    top: -55%;
    width: 500px;
    border: 5px solid white;
}